<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
      </ion-buttons>
      <ion-title>Perfil Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil-empleado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nombre empleado</ion-card-title>
      <ion-card-subtitle>Detalles de empleado</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui escribiremos una breve descripcion del usuario y sus tareas.
    </ion-card-content>
  </ion-card>
</ion-content>
