<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Formulario de pedidos -->
  <form [formGroup]="pedidoForm" (ngSubmit)="onFormSubmit()">
    <ion-grid>
      <!-- Campo Nombre Cliente -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre Cliente</ion-label>
            <ion-input type="text" formControlName="nombre_cliente"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Campo Dirección -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input type="text" formControlName="direccion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Campo Detalle del Pedido -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Detalle del Pedido</ion-label>
            <ion-input type="text" formControlName="detalle_pedido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Campo Total a Pagar -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Total a pagar</ion-label>
            <ion-input type="number" formControlName="total_a_pagar"></ion-input>
          </ion-item>

          <!-- Mostrar advertencia si el valor no es numérico -->
          <div *ngIf="isTotalPagarInvalid()" class="error-message">
            <p>Escribe solo números</p>
          </div>
        </ion-col>
      </ion-row>

      <!-- Campo Horario de Entrega -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Horario de Entrega</ion-label>
            <ion-input type="text" formControlName="horario_entrega"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Campo Teléfono -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel" formControlName="telefono"></ion-input>
          </ion-item>
          <div *ngIf="pedidoForm.get('telefono')?.invalid && pedidoForm.get('telefono')?.touched" class="error-message">
            <p *ngIf="pedidoForm.get('telefono')?.errors?.['required']">Este campo es obligatorio (ejemplo 912345678).</p>
            <p *ngIf="pedidoForm.get('telefono')?.errors?.['minlength']">El número debe tener al menos 9 dígitos.</p>
            <p *ngIf="pedidoForm.get('telefono')?.errors?.['maxlength']">El número no debe tener más de 10 dígitos.</p>
            <p *ngIf="pedidoForm.get('telefono')?.errors?.['pattern']">El número debe contener solo dígitos.</p>
          </div>
        </ion-col>
      </ion-row>

      <!-- Campo Medio de Pago -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Medio de Pago</ion-label>
            <ion-input type="text" formControlName="medio_pago"></ion-input>
          </ion-item>
          <div *ngIf="pedidoForm.get('medio_pago')?.invalid && pedidoForm.get('medio_pago')?.touched" class="error-message">
            <p *ngIf="pedidoForm.get('medio_pago')?.errors?.['required']">Este campo es obligatorio (ejemplo: tarjeta)</p>
            <p *ngIf="pedidoForm.get('medio_pago')?.errors?.['pattern']">Solo se permite "tarjeta" o "efectivo".</p>
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    <!-- Botón para enviar el formulario -->
    <div style="text-align: center; margin-top: 20px;">
      <ion-button type="submit" expand="block" [disabled]="!pedidoForm.valid">Enviar pedido</ion-button>
    </div>
  </form>

  <!-- Modal para mostrar mensaje de éxito -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="onModalDismiss()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Pedido Enviado</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <h2>¡El pedido ha sido enviado correctamente!</h2>
        <ion-button expand="block" (click)="closeModal()">Cerrar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
