<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recoveryForm" (ngSubmit)="onRecoverPassword()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched">
      <ion-text color="danger">
        <p *ngIf="recoveryForm.get('email')?.errors?.['required']">El email es requerido.</p>
        <p *ngIf="recoveryForm.get('email')?.errors?.['email']">El formato del email no es válido.</p>
      </ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="recoveryForm.invalid">Enviar Enlace de Recuperación</ion-button>
  </form>
</ion-content>
