<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Pedido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="pedido">
        <ion-item>
          <ion-label position="floating">Nombre del Cliente</ion-label>
          <ion-input [(ngModel)]="pedido.nombre_cliente"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dirección</ion-label>
          <ion-input [(ngModel)]="pedido.direccion"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Total a pagar</ion-label>
          <ion-input type="number" [(ngModel)]="pedido.total_a_pagar"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Horario de Entrega</ion-label>
          <ion-input [(ngModel)]="pedido.horario_entrega"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" [(ngModel)]="pedido.telefono"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Medio de Pago</ion-label>
          <ion-select [(ngModel)]="pedido.medio_pago">
            <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botón para guardar los cambios -->
        <div class="ion-margin-top">
          <ion-button expand="block" color="success" (click)="guardarCambios()">Guardar Cambios</ion-button>
        </div>
      </ion-list>

      <div *ngIf="!pedido" class="ion-text-center">
        <p>No se encontró el pedido.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
