<ion-content class="login-page">
  <!-- Encabezado con título centrado -->
  <div class="header">
    <h1>BEFINE</h1>
  </div>

  <!-- Contenedor principal para el formulario -->
  <div class="login-container">
    <form>
      <!-- Campo de correo electrónico -->
      <ion-item class="custom-item" lines="none">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <!-- Campo de nombre de usuario -->
      <ion-item class="custom-item" lines="none">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>

      <!-- Campo de contraseña -->
      <ion-item class="custom-item" lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="passwordType" [(ngModel)]="password" name="password"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon [name]="passwordIcon"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <!-- Botones de acción -->
      <div class="button-container">
        <ion-button expand="block" class="custom-btn" (click)="login()">Ingresar</ion-button>
        <ion-button expand="block" fill="outline" class="custom-btn" id="open-modal">Recuperar Contraseña</ion-button>
      </div>
    </form>
  </div>
</ion-content>
