.login-page {
    --background: linear-gradient(180deg, #1c4b81, #68a4d9); /* Fondo degradado */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado horizontal */
    height: 100vh;
    padding: 0 20px;
    justify-content: space-between; /* Distribuye el título y el contenedor */
  }
  
  .header {
    text-align: center;
    margin-top: 5%;
  }
  
  .header h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
  
  .login-container {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: 10%;
  }
  
  .custom-item {
    --background: transparent;
    --border-radius: 10px;
    --color: #1c4b81;
    --placeholder-color: rgba(28, 75, 129, 0.6);
    border: 1px solid rgba(28, 75, 129, 0.4);
    margin-bottom: 15px;
  }
  
  .custom-item ion-label {
    color: #1c4b81;
  }
  
  .custom-item ion-input {
    color: #1c4b81;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .custom-btn {
    flex: 1;
    border-radius: 20px;
    --background: #ffffff;
    --color: #1c4b81;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  