<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">Inicio</ion-item>
      <ion-item routerLink="/pedidos" routerDirection="root">Pedidos</ion-item>
      <ion-item routerLink="/bodega" routerDirection="root">Bodega</ion-item>
      <ion-item routerLink="/perfil-empleado" routerDirection="root">Perfil de Empleado</ion-item>
      <ion-item routerLink="/usuario" routerDirection="root">Usuarios</ion-item>
      <ion-item routerLink="/transporte" routerDirection="root">Transporte</ion-item>
      <!-- Mostrar el botón de logout solo si el usuario está autenticado -->
      <ion-item *ngIf="isAuthenticated" (click)="logout()">Cerrar sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main content -->
<ion-router-outlet id="main-content"></ion-router-outlet>
