<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <!-- Mensaje de bienvenida -->
  <div class="welcome-container">
    <h2 class="welcome-title">¡Bienvenido, {{ username }}!</h2>
    <p class="welcome-message">
      Nos alegra que estés aquí. Accede a las funcionalidades de Befine fácilmente.
    </p>
  </div>

  
</ion-content>
