#welcome-message {
  text-align: center;
  margin-top: 50px;
  color: #0041b3;
}

h2 {
  font-size: 26px;
  color: #0041b3;  /* Color azul de Befine */
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #333;
}
