<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Lista de pedidos -->
  <ion-list>
    <ion-item-sliding *ngFor="let pedido of pedidos">
      <ion-item class="pedido-card">
        <ion-icon name="cube-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2>Pedido #{{ pedido.id }}</h2>
          <p>{{ pedido.detalle }}</p>
          <p class="total-a-pagar">Total a pagar: ${{ pedido.total_a_pagar }}</p>
        </ion-label>
        <ion-button fill="outline" slot="end" color="secondary" (click)="verDetalles(pedido)">
          Detalles
        </ion-button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- Botón para actualizar la lista de pedidos -->
  <ion-button expand="block" color="tertiary" (click)="cargarTodosLosPedidos()">Actualizar Lista</ion-button>
</ion-content>
